<!-- card details -->
<div class="container-fluid" style="background: aliceblue; padding: 20px;">
    <div class="row">
      <div class="col-md-8" style="margin: 10px 0 50px 0;">
        <div class="card" style="background: white; border-radius: 15px;">
          <img src="../../assets/images/Python-Tutorial1.png" alt="" style="height: 500px; margin: 20px;">
          <div class="card-body">

            <h5 style="font-weight: 600;">Python for Beginners - Learn Programming from scratch </h5>
            <br>
            <h4 class="text-center">Description</h4>
            <p style="align-items: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.

              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>
              <h4 class="text-center">Curriculum</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>
              <h4 class="text-center">Certification</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularsed in the 1960 with release containing Lorem Ipsum passages desktop publishing software.</p>
          </div>
        </div>
        
        

      </div>
      <div class="col-md-4" style=" border-radius: 15px; margin: 10px 0 10px 0; ">
        <div style="background: white; border: 1px solid #33ccc5; border-radius: 15px; padding: 10px;">
            <div class="text-center">
                <p class="d-inline text-light" style="background: #FF6347; padding:0 5px 0 5px; border-radius: 15px; font-size: 18px; font-weight: 600;">$150.00</p>
            </div>
          <table class="table">
            <tr>
              <td><i class="fa-solid fa-user-tie"></i> instructor</td>
              <td>ABC</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-clock"></i> Duration</td>
              <td>20 Hours</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-book"></i> Lecture</td>
              <td>32</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-file"></i> Articles</td>
              <td>10 Articles</td>
              </tr>
            <tr>
              <td><i class="fa-solid fa-download"></i> Resources</td>
              <td>1 Downloadable</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-circle-right"></i> Access</td>
              <td>Lifetime access</td>
            </tr>
          </table>
          <div class="text-center">
            <a href="#" class="btn btn-info text-light">Enroll Now</a>
          </div>
        </div>
        <div class="cpy" style="border: none; background: aliceblue;">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <p class="text-info">Share Course</p>
                  </div>
                    <div>
                      <ul class="social_icon" style="display: flex; justify-content: center;">
                          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                      </ul>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
