<app-header></app-header>

<div class="container-fluid" id="src1">
    <div class="row">
            <!-- <<<Login>>> -->
  <div class="container-fluid" style="background-image: url(/resources/assets/images/contact-bg.jpg); height: 80vh;">
    <div class="row">
        <div class="col-5" style="font-size: large; margin-top: 75px; margin-left: auto; margin-right: auto; display: block;">
            <h2 class="text-light pb-3">Login Account</h2>
            <form>
                <input type="text" class="form-control" placeholder="Username"> <br>
                <input type="password" class="form-control" placeholder="Password"> <br>
                <input type="checkbox"> <span class="text-light">Remind me</span> <br> <br>
                <button class="btn btn-primary btn-block">Sign in</button>
            </form> <br>
            <p class="text-center text-light">Not a member? <a href="/register">Register</a></p>
        </div>
    </div>
</div>
    </div>
</div>

<app-footer></app-footer>
