<app-header></app-header>

<div class="container-fluid" id="src1">
    <div class="row">
        <!-- <<<Register>>> -->
    <div class="container-fluid" style="background-image: url(/resources/assets/images/contact-bg.jpg); height: 100vh;">
        <div class="row" style="background: aliceblue; width:75%; margin-left: auto; margin-right: auto; display: block;">
            <div class="col-md-2">
                <div><img src="../../assets/images/blog-12.jpg" alt="" style="height: 80px; width: 80px;"></div>
            </div>

            <div class="col-md-9">

            </div>

            <div class="col-md-1">

            </div>
        </div>
    </div>
    </div>
</div>

<app-footer></app-footer>
