<div class="" style="margin-top: 100px; margin-left: 20px; width: 90%; padding: 20px;">
    <div>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form [formGroup]="form" (ngSubmit)="catSubmit()">
                        <div style=" border: none; border-radius: 5px; height: 40px; outline: none; font-size: 18px;" align="center"><label style="color: #33ccc5; font-weight: 600;"><i class="fa-solid fa-circle-plus"></i> Course Category</label></div>
                        <br>
                        <div class="form-group"><input type="text" class="form-control" formControlName="courseCatName"></div>
                        <br>
                        <div class="form-group"><input type="submit" value="Save" class="btn btn-primary form-control"></div>
                        <br>
                        <div class="form-group"><a href="adashboard/acourseview" class="btn btn-outline-danger form-control"><i class="fa-solid fa-eye"></i> Show</a></div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<br>
<div style="margin-top: 100px; margin-left: 20px; width: 90%; padding: 20px;">
    <div class="container" style="margin-top: 100px;">
        <div style=" border: none; border-radius: 5px; height: 40px; outline: none; font-size: 18px;" align="center"><label style="color: #33ccc5; font-weight: 600;"><i class="fa-solid fa-circle-plus"></i> Create Course</label></div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row form-group">
                        <div class="col-md-2"><label>Category</label></div>
                        <div class="col-md-4">
                            <select formControlName="course_cat_id" class="form-control">
                                <option *ngFor="let category of categories" value="{{category.course_cat_id}}">{{category.courseCatName}}</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label>Instructor</label></div>
                        <div class="col-md-4">
                            <select formControlName="instructorName" class="form-control">
                                <option *ngFor="let instructor of instructors" value="{{instructor.instructor_id}}">{{instructor.instructorName}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-2"><label>Course Name</label></div>
                        <div class="col-md-4"><input type="text" class="form-control" formControlName="courseName"></div>
                        <div class="col-md-2"><label>Duration</label></div>
                        <div class="col-md-4"><input type="text" placeholder="In hours.." class="form-control" formControlName="courseDuration"></div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-2"><label>Article</label></div>
                        <div class="col-md-4"><input type="text" placeholder="Number" class="form-control" formControlName="courseArticle"></div>
                        <div class="col-md-2"><label>Resources</label></div>
                        <div class="col-md-4"><input type="text" placeholder="Number" class="form-control" formControlName="courseResource"></div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-2"><label>Access</label></div>
                        <div class="col-md-4"><input type="text" placeholder="Lifetime/Limited" class="form-control" formControlName="courseAccess"></div>
                        <div class="col-md-2"><label>Date</label></div>
                        <div class="col-md-4"><input type="date" class="form-control" formControlName="courseUploadDate"></div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-2"><label>Description</label></div>
                        <div class="col-md-4"><textarea formControlName="courseDescription" id="" cols="30" rows="3" class="form-control"></textarea></div>
                        <div class="col-md-2"><label>Curriculum</label></div>
                        <div class="col-md-4"><textarea formControlName="courseCurriculum" id="" cols="30" rows="3" class="form-control"></textarea></div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-2"><label>Price</label></div>
                        <div class="col-md-4"><input type="text" class="form-control" formControlName="coursePrice"></div>
                        <div class="col-md-2"><label>Resources</label></div>
                        <div class="col-md-4"><input type="text" class="form-control" formControlName="courseDiscount"></div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col-md-4"><label>Upload File</label></div>
                        <div class="col-md-8"><input type="file" class="form-control"></div>
                    </div>
                    <br>
                    <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-primary form-control" value="Submit" >
                    </div>
                    <br>
                    <div class="form-group"><a href="" class="btn btn-outline-danger form-control"><i class="fa-solid fa-eye"></i> Show</a></div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>