<div class="container-fluid" style="background-image: linear-gradient(to right, #141E30, #243B55); height: auto;">
  <div class="row" id="nav_bar" style="padding-top: 10px;">
    <div class="col-md-4">
      <div class="row pb-3" >
        <div class="col-md-12">
          <a class="text-info" href="" id="logo"><img src="../assets/images/logo.png" alt="" style="height: 60px; width: 60px;">ePathshala</a> 
        </div>
      </div>
    </div>

    <div class="col-md-5" style=" padding-top: 12px;">
      <nav class="nav">
        <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
        <a class="nav-link text-light" routerLink="">Classroom</a>
        <a class="nav-link text-light" routerLink="">Course</a>
        <a class="nav-link text-light" routerLink="">Blog</a>
        <a class="nav-link text-light" routerLink="">About Us</a>
    </nav>
    </div>

    <div class="col-md-3" style=" padding-top: 12px;">
      <nav class="nav d-flex flex-row-reverse">
        <a class="nav-link text-light" routerLink=""><i class="fa-duotone fa-user"></i></a>
        <a class="nav-link text-light" routerLink="">LogIn</a>
        <a class="nav-link text-light" routerLink=""><img src="../assets/images/search.png" alt="" id="src_img"></a>
      </nav>
    </div>
  </div>
</div>

<app-home></app-home>