<div class="container-fluid">
  <div class="row" id="nav_bar">
    <div class="col-md-3"></div>

    <div class="col-md-5">
      <nav class="nav">
        <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
        <a class="nav-link text-light" routerLink="">Classroom</a>
        <a class="nav-link text-light" routerLink="">Course</a>
        <a class="nav-link text-light" routerLink="">Blog</a>
    </nav>
    </div>

    <div class="col-md-4">
      <nav class="nav d-flex flex-row-reverse">
        <a class="nav-link text-light" routerLink=""><i class="fa-duotone fa-user"></i></a>
        <a class="nav-link text-light" routerLink="">Login/Register</a>
      </nav>
    </div>
  </div>
</div>