<div class="body">
    <section id="menu">
        <div class="head_part">
            <img src="../../assets/images/logo.png" alt="" style="height: 50px; width: 50px; float: left;">
        </div>
    
        <div class="items">
            <li><i class="fa-solid fa-house"></i><a href="#">Home</a></li>
            <li><i class="fa-solid fa-desktop"></i><a href="#">Online Class</a></li>
            <li><i class="fa-solid fa-cloud-arrow-up"></i><a href="/acourse">Upload</a></li>
            <li><i class="fa-solid fa-credit-card"></i><a href="#">Payment</a></li>
            <li><i class="fa-solid fa-envelope"></i><a href="#">Messages</a></li>
            <li><i class="fa-solid fa-wrench"></i><a href="#">Settings</a></li>
        </div>
    </section>
    
    <router-outlet></router-outlet>
</div>


<script>
    $('#menu-btn').click(function(){
        $('#menu').toggleClass("active");
    })
</script>