<section id="menu">
    <div class="head_part">
        <h2><span style="color:#00008B">EDU</span><span style="color:#F0F8FF">24</span></h2>
    </div>

    <div class="items">
        <li><i class="fa-solid fa-house"></i><a href="#">Home</a></li>
        <li><i class="fa-solid fa-desktop"></i><a href="#">Online Class</a></li>
        <li><i class="fa-solid fa-cloud-arrow-up"></i><a href="#">Upload</a></li>
        <li><i class="fa-solid fa-credit-card"></i><a href="#">Payment</a></li>
        <li><i class="fa-solid fa-envelope"></i><a href="#">Messages</a></li>
        <li><i class="fa-solid fa-wrench"></i><a href="#">Settings</a></li>
    </div>
</section>

<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div>
                <i id="menu-btn" class="fa-solid fa-bars"></i>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>

        <div class="profile">
            <i class="fa-solid fa-bell"></i>
            <img src="/resources/assets/images/blog.jpg" alt="">
        </div>
    </div>
    <h3 class="i-name">
        Dashboard
    </h3>

    <div class="values">
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa-solid fa-money-bills"></i>
            <div>
                <h3>4,50,000.00</h3>
                <span>Gross Sale</span>
            </div>
        </div>
    </div>

    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Title</td>
                    <td>Status</td>
                    <td>Role</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog-01.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog-02.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog-03.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog-04.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog-05.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog-06.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="/resources/assets/images/blog.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#">Edit</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>


<script>
    $('#menu-btn').click(function(){
        $('#menu').toggleClass("active");
    })
</script>
