<div class="" style="margin-top: 100px; margin-left: 20px; width: 90%; background: white; padding: 20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.courseCatName}}</td>
                <td>
                    <a href="#" style="color: SlateBlue; text-decoration: none;" [routerLink]="['/adashboard/', 'acourseedit', category.course_cat_id]"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a href="adashboard/acourseview" style="margin-left: 40px; color: Tomato; text-decoration: none;" (click)="delete(category.course_cat_id)"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>