<!-- <<<<< jumbotron >>>>> -->
<div class="container-fluid" id="jumb">
    <div class="row">
      <div class="col-md-5 text-white" style="padding-left: 100px; padding-top: 200px;">
        <h3>Keep learning in the moments that matter</h3>
        <h5 style="color: #ADD8E6;">
          Empower yourself with world-class courses from educators and institutions in a practical and social learning environment
        </h5>
        <a class="btn btn-light btn-lg m-2" href="#"
          role="button" rel="nofollow" target="_blank">Contact Us</a>
        <a class="btn btn-outline-light btn-lg m-2" href="#"
          target="_blank" role="button">Join for free</a>
      </div>
      
      <div class="col-md-1"></div>

      <div class="col-md-6" style="padding-top: 50px; padding-right: 0px;">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../assets/images/activity-management.png" alt=""  style="width: 650px; height: 500px;"> <!--class="rounded-circle"-->
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <!-- <div class="container" style="font-size: 12px;">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/Python-Tutorial1.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/javascript-hero-1652702096795.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/React Cover.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/maxresdefault.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- card heading -->
<div class="container pt-5">
  <div class="col-3"></div>
  <div class="col-6 text-center mt-3" style="display: block; margin-left: auto; margin-right: auto;">
    <h2 style="color: #33ccc5;"><strong>Some exciting <span class="text-primary">crash</span> program are <span class="text-primary">waiting</span> for you</strong></h2>
  </div>
  <div class="col-3"></div>
</div>

<!--Card-->
<div class="container-fluid p-5 mt-1 border border-1" style="border-radius: 15px; background-color: #F0FFFF; width: 90%;">
  <div class="row">
    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 280px; height: 480px;">
        <a href=""><img class="card-img-top" src="../../assets/images/Python-Tutorial1.png" alt="Card image cap" style="height: 220px; border-radius:5px;"></a>
        <div class="card-body">
          <p class="d-inline text-light" style="background: #00CED1; padding:0 5px 0 5px; border-radius: 15px; font-size: 13px; font-weight: 600;">$150.00</p>
          <p class="card-title" style="font-weight: 600;"><a>Python for Beginners - Learn Programming from scratch</a></p>
          <table class="table" style="font-size: 14px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
          <a href="#" class="btn btn-sm btn-primary">Buy now</a>
          <a href="#" class="btn btn-sm btn-outline-warning" style="margin-left: 20px;">Add to cart</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
       <div class="card hvr-grow" style="border-radius:10px; width: 280px; height: 480px;">
        <a href=""><img class="card-img-top" src="../../assets/images/javascript-hero-1652702096795.png" alt="Card image cap" style="height: 220px; border-radius:5px;"></a>
        <div class="card-body">
          <p class="d-inline text-light" style="background: #FF1493; padding:0 5px 0 5px; border-radius: 15px; font-size: 13px; font-weight: 600;">$150.00</p>
          <p class="card-title" style="font-weight: 600;"><a>The Complete JavaScript Course 2023: From Zero to Expert! </a></p>
          <table class="table" style="font-size: 14px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
            <a href="#" class="btn btn-sm btn-primary">Buy now</a>
            <a href="#" class="btn btn-sm btn-outline-warning" style="margin-left: 20px;">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 280px; height: 480px;">
        <a href=""><img class="card-img-top" src="../../assets/images/React Cover.jpg" alt="Card image cap" style="height: 220px; border-radius:5px;"></a>
        <div class="card-body">
          <p class="d-inline text-light" style="background: #FF6347; padding:0 5px 0 5px; border-radius: 15px; font-size: 13px; font-weight: 600;">$150.00</p>
          <p class="card-title" style="font-weight: 600;"><a>React - The Complete Guide (incl Hooks, React Router, Redux)</a></p>
          <table class="table" style="font-size: 14px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
            <a href="#" class="btn btn-sm btn-primary">Buy now</a>
            <a href="#" class="btn btn-sm btn-outline-warning" style="margin-left: 20px;">Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 280px; height: 480px;">
        <a href=""><img class="card-img-top" src="../../assets/images/maxresdefault.jpg" alt="Card image cap" style="height: 220px; border-radius:5px;"></a>
        <div class="card-body">
          <p class="d-inline text-light" style="background: #9370DB; padding:0 5px 0 5px; border-radius: 15px; font-size: 13px; font-weight: 600;">$150.00</p>
          <p class="card-title" style="font-weight: 600;"><a>Photoshop Master Course: From Beginner to Photoshop Pro</a></p>
          <table class="table" style="font-size: 14px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
            <a href="#" class="btn btn-sm btn-primary">Buy now</a>
            <a href="#" class="btn btn-sm btn-outline-warning" style="margin-left: 20px;">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-12 text-center">
    <a href="#" class="btn blg hvr-icon-forward">
      See more
      <i class="fa fa-chevron-circle-right hvr-icon"></i>
    </a>
  </div>
</div>

<!-- <<<<< blog header >>>>>> -->
<div class="container pt-5">
<div class="col-3"></div>
<div class="col-6 text-center mt-3" style="display: block; margin-left: auto; margin-right: auto;">
    <h2><strong style="color: #33ccc5;">Our</strong><strong class="text-primary"> Blog</strong></h2>
</div>
<div class="col-3"></div>
</div>

<!-- <<<<<< blog >>>>>> -->
<div class="container-fluid p-5 mt-1 border border-1" style="border-radius: 15px; background-color: #F0FFFF; width: 90%;">
    <div class="row">
        <div class="col-md-3">
          <div>
            <img src="../../assets/images/3d-casual-life-young-woman-explaining-lesson-material.png" alt="">
          </div>
        </div>

        <div class="col-md-9">
            <div class="row">
            <div class=" col-md-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a href=""><img class="card-img-top" src="../../assets/images/blog-07.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                  <h6 class="card-title"><a>Card title</a></h6>
                  <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                  <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
            </div>
            <div class=" col-md-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-02.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                  <h6 class="card-title"><a>Card title</a></h6>
                  <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                  <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
            </div>
                <div class=" col-md-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                  <a  href=""><img class="card-img-top" src="../../assets/images/blog-08.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                  <div class="card-body">
                      <h6 class="card-title"><a>Card title</a></h6>
                      <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                      <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3" style="height: auto;">
            <h2 class="text-info"><i class="fa-solid fa-rectangle-list"></i> Blog Category</h2>
            <div class="border" style="border-radius: 10px; background-color: white; padding: 15px;">
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>Education</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>Information & Technology</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>International</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>Sports</strong></button>
            </div>
          </div>

          <div class="col-md-9">
            <div class="row">
              <div class=" col-md-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a href=""><img class="card-img-top" src="../../assets/images/blog-09.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                  <h6 class="card-title"><a>Card title</a></h6>
                  <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                  <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
              </div>
              <div class=" col-md-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                  <a  href=""><img class="card-img-top" src="../../assets/images/blog-12.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                  <div class="card-body">
                    <h6 class="card-title"><a>Card title</a></h6>
                    <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                    <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                  </div>
              </div>
              <div class=" col-md-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-06.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                    <h6 class="card-title"><a>Card title</a></h6>
                    <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                    <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
  <!-- <<<<< search >>>>> -->
  <div class="container-fluid" id="src">
    <form action="https://www.google.com/search" method="get" class="search-bar">
      <input type="text" placeholder="Google Search" name="q">
      <button type="submit"><img src="../../assets/images/search.png" alt=""></button>
    </form>
  </div>

<!-- <<<<<< Contact us >>>>> -->
  <div class="container-fluid" id="src1">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="text-light">Contact Us</p>
        <h2 class="text-light"><span style="color: #33ccc5;">Fill</span> Out The Form Below To Get In <span style="color: #33ccc5">Touch</span> With Us</h2>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8">
        <form action="">
          <div class="row">
            <div class="col-md-6"><input type="text" placeholder="Full Name" style="background: transparent;"></div>
            <div class="col-md-6"><input type="text" placeholder="Subject"></div>
          </div>
          <div class="row">
            <div class="col-md-6"><input type="email" placeholder="Email"></div>
            <div class="col-md-6"><input type="text" placeholder="Phone"></div>
          </div>
          <div class="row">
            <div class="col-md-12"><textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea></div>
          </div>
        </form>
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>
  
  
  


  
  
  <script>
    $(function () { objectFitImages() });
  </script>
