<!-- <<<<< jumbotron >>>>> -->
<div class="container-fluid" id="jumb">
    <div class="row">
      <div class="col-md-6 text-white" style="padding-left: 100px; padding-top: 150px;">
        <h2>Keep learning in the moments that matter</h2>
        <hr>
        <h5>
          Empower yourself with world-class courses from educators and institutions in a practical and social learning environment
        </h5>
        <a class="btn btn-light btn-lg m-2" href="#"
          role="button" rel="nofollow" target="_blank">Contact Us</a>
        <a class="btn btn-outline-light btn-lg m-2" href="#"
          target="_blank" role="button">Join for free</a>
      </div>
  
      <div class="col-md-6" style="padding-top: 50px; padding-right: 0px;">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../assets/images/VES-Hompage-Header-animation-image-only.png" alt="" class="rounded-circle" style="width: 600px; height: 500px;">
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- <div class="jumbotron jumbotron-fluid">
    <div class="container text-white">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div> -->
  
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <div class="jumbotron bg-image">
          <h1>Hello, world!</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, a rem distinctio voluptas necessitatibus atque. Laudantium ad laboriosam beatae consectetur, provident aliquid, aperiam ipsam neque quas dolor voluptate, nemo dolorum?</p>
          <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="container" style="font-size: 12px;">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/wallpaper.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/wallpaper.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/wallpaper.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/wallpaper.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <<<<< blog >>>>>> header -->
<div class="container pt-5">
<div class="col-3"></div>
<div class="col-6 text-center mt-3" style="display: block; margin-left: auto; margin-right: auto;">
    <h2><strong style="color: #33ccc5;">Our</strong><strong class="text-primary"> Blog</strong></h2>
</div>
<div class="col-3"></div>
</div>

<!-- <<<<<< blog >>>>>> -->
<div class="container p-5 mt-1 border border-1" style="border-radius: 15px; background-color: #F0FFFF;">
    <div class="row">
        <div class="col-4">
            <h2 class="text-info"><i class="fa-solid fa-rectangle-list"></i> Post Category</h2>
            <div class="border" style="border-radius: 10px; background-color: white; padding: 10px;">
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 10px; border-color: #4682B4; width: 75%; margin-left: auto; margin-right: auto;"><strong>Education</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 10px; border-color: #4682B4; width: 75%; margin-left: auto; margin-right: auto;"><strong>Information & Technology</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 10px; border-color: #4682B4; width: 75%; margin-left: auto; margin-right: auto;"><strong>International</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 10px; border-color: #4682B4; width: 75%; margin-left: auto; margin-right: auto;"><strong>Sports</strong></button>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
            <div class=" col-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a href=""><img class="card-img-top" src="../../assets/images/blog-01.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                <h6 class="card-title"><a>Card title</a></h6>
                <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                <a href="#" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
            </div>
            <div class=" col-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-02.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                <h6 class="card-title"><a>Card title</a></h6>
                <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                <a href="#" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
            </div>
                <div class=" col-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-03.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                    <h6 class="card-title"><a>Card title</a></h6>
                    <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
                </div>
            </div>
            <div class="row pt-3">
            <div class=" col-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a href=""><img class="card-img-top" src="../../assets/images/blog-04.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                <h6 class="card-title"><a>Card title</a></h6>
                <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                <a href="#" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
            </div>
            <div class=" col-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-05.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                <h6 class="card-title"><a>Card title</a></h6>
                <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                <a href="#" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
            </div>
                <div class=" col-4 card hvr-border-fade p-1" style="border-radius: 15px;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-06.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                    <h6 class="card-title"><a>Card title</a></h6>
                    <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">Read More</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  <!-- <<<<< search >>>>> -->
  <div class="container-fluid" id="src">
    <form action="https://www.google.com/search" method="get" class="search-bar">
      <input type="text" placeholder="Google Search" name="q">
      <button type="submit"><img src="../../assets/images/search.png" alt=""></button>
    </form>
  </div>
  
  
  
  
  
  <script>
    $(function () { objectFitImages() });
  </script>
